body {
    background: #1c1f2e;
}

.container {
    margin: 40px auto;
    font-family: "Courier New", monospace;
    color: #e6e6e6;
}

button {
    font-family: inherit;
    padding: 5px 16px;
    border: 2px solid #7aa2ff;
    background: linear-gradient(#3b3f55, #2a2d3d);
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}

button:hover:not(:disabled) {
    border-color: #ffe66d;
}

h2 {
    text-align: center;
    margin: 18px 0 10px;
    color: #ffe66d;
}

.item-list {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.item-list li {
    background: linear-gradient(#3b3f55, #2a2d3d);
    border: 2px solid #7aa2ff;
    border-radius: 4px;
    padding: 8px 12px;
    box-shadow: inset 0px 0px 6px 3px #1a1c28;
}

.item-list li:hover {
    border-color: #ffe66d;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-weight: bold;
    border-width: 4px;
    border-color: black;
    gap: 5px;
}

.item-name {
    flex-basis: auto;
    margin-bottom: 2px;
}

.item-id {
    flex-basis: auto;
    font-weight: normal;
    color: #ccc;
}

.item-meta {
    font-size: 0.85rem;
    color: #9ad1ff;
}

.item-description {
    display: flex;
    justify-content: space-between;
}

.list-item-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.list-item-image-section {
    display: flex;
    padding-right: 10px;
    border-right: 1px solid #7aa2ff;
}

.grid-item-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.grid-item-image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.grid-item-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
}

.grid-item-container > *:not(:last-child) {
    padding-bottom: 10px;;
}

.grid-item-container > *:not(:first-child) {
    border-top: 1px solid #7aa2ff;
    padding-top: 10px;
}

.list-item-container {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.item-link {
    display: inline-block;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 14px;
    margin-bottom: 14px;
    align-items: center;
}

.hidden {
    display: none !important;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.toolbar > * {
    position: relative;
}

.toolbar > *:not(:first-child) {
    border-left: 1px solid #7aa2ff;
    padding-left: 10px;
}

.item-list.list li {
    margin-bottom: 6px;
}

.item-list.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 8px;
}

.item-list.grid li {
    height: auto;
    padding: 6px;
    text-align: center;
}

.item-slot-name {
    font-size: 0.8rem;
    height: 100%;
}

.item-slot-meta {
    font-size: 0.8rem;
    color: #9ad1ff;
}

.item-image-wrapper {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 100ms ease;
    align-self: center;
}

.item-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.8));
    display: inline-block;
}

.item-image-wrapper:hover {
    transform: scale(1.3);
}

.page-size {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.85rem;
}

.page-size select {
    font-family: inherit;
    background: #2a2d3d;
    color: #fff;
    border: 2px solid #7aa2ff;
    padding: 2px 6px;
}

.page-size select:hover {
    border-color: #ffe66d;
}

.item-fully-researched {
    border-color: #4caf50 !important;
}

.item-partially-researched {
    border-color: #f1c40f !important;
}

.item-not-researched {
    border-color: #e74c3c !important;
}

.item-fully-researched-temp {
    border-color: #4caf50 !important;
    border-style: dashed !important;
}

.item-not-researched-temp {
    border-color: #e74c3c !important;
    border-style: dashed !important;
}

.filter {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.85rem;
}

#searchInput {
    background: #2a2d3d;
    border: 2px solid #7aa2ff;
    border-radius: 6px;
    color: #fff;
    padding: 4px 6px;
    /* width: 160px; */
    width: auto;
    display: block;
    font-family: inherit;
}

#searchInput::placeholder {
    color: #aaa;
}

.select {
    background: #2a2d3d;
    border: 2px solid #7aa2ff;
    color: #fff;
    padding: 4px 6px;
    font-family: inherit;
}

#searchInput:focus,
.select:hover {
    border-color: #ffe66d;
}

#summary {
    margin: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    color: #ffe66d;
    gap: 10px;
}

.summary-text > *:not(:first-child) {
    border-left: 1px solid #7aa2ff;
    padding-left: 10px;
}

.progress-bar-container {
    height: 14px;
    background: #2a2d3d;
    border: 2px solid #7aa2ff;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 10px;
    align-self: stretch;
}

.progress-bar {
    height: 100%;
    background: #888;
    width: 0%;
    transition: width 0.3s ease;
}

.progress-percent {
    font-size: 0.85rem;
    color: #9ad1ff;
    font-weight: bold;
    border: 2px;
    border-color: #7aa2ff;
    border-style: none solid solid solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 3px 6px 0px 6px;
}

#openTagsButton.active {
    background:
        linear-gradient(to bottom,
            rgba(255, 230, 80, 0) 65%,
            rgba(255, 215, 0, 0.35) 90%,
            rgba(255, 200, 0, 0.45) 100%),
        linear-gradient(#3b3f55, #2a2d3d);
    border-color: #ffe66d;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    background: linear-gradient(#3b3f55, #2a2d3d);
    border: 2px solid #7aa2ff;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #7aa2ff;
    align-items: center;
}

.tag-container {
    overflow-y: auto;
    padding: 10px;
}

.tag-group {
    margin-bottom: 8px;
}

.subtags {
    margin-left: 20px;
    margin-top: 4px;
}

.percent {
    color: #888;
    font-size: 0.85em;
    margin-left: 6px;
}

.color-green {
    color: #4caf50;
}

.color-yellow {
    color: #f1c40f;
}

.color-red {
    color: #e74c3c;
}

.color-grey {
    color: #999;
}

.tag-tooltip {
    position: relative;
    display: flex;
}

.tag-tooltip-text {
    display: flex;
    flex-direction: column;
    align-items: start;

    position: absolute;
    right: -50%;
    transform: translateY(-110%);
    margin-right: 8px;

    /* white-space: nowrap; */
    text-align: start;

    border: 2px solid #7aa2ff;
    background: #1c1f2e;
    padding: 6px 8px;
    border-radius: 4px;

    opacity: 0;
    transition: opacity 0.1s ease-in;
    pointer-events: none;
    z-index: 2;
}

.tag-tooltip:hover .tag-tooltip-text {
    z-index: 2;
    opacity: 1;
}

.tag-tooltip-text.flip-right {
    right: auto;
    /* left: 100%; */
    left: -300%;
    margin-right: 0;
    margin-left: 8px;
}

.tag-icon {
    filter: grayscale(100%);
}

.item-tool-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.research-checkbox-label {
    display: flex;
    align-items: center;
}

.list-item-tags {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.reset-button {
    background: linear-gradient(#cb3f55, #7a2d3d);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: stretch;
    width: auto;

    white-space: nowrap;
    background: linear-gradient(#3b3f55, #2a2d3d);
    border: 2px solid #7aa2ff;

    border-radius: 6px;

    display: none;
    z-index: 1000;
}

.dropdown-toggle::after {
    content: "";
    display: inline-block;
    margin-left: 6px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid currentColor;
    vertical-align: middle;
}

.dropdown.open .dropdown-toggle::after {
    transform: rotate(180deg);
}

.dropdown.open .dropdown-menu {
    display: block;
}

.dropdown-menu label {
    display: block;
}

.dropdown-select {
    padding: 8px 10px;
    cursor: pointer;
}

.dropdown-select:not(:last-child) {
    border-bottom: 2px solid #7aa2ff;
}

.dropdown-select:hover {
  background: #50547a;
}

.reset-modal-wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.reset-modal-button-wrapper {
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    .toolbar {
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
    }

    .toolbar > * {
        width: 100%;
    }

    #searchInput {
        width: inherit;
    }

    .toolbar button,
    .toolbar .dropdown {
        width: 100%;
    }
    .modal-header button {
        width: auto;
    }

    .toolbar > *:not(:first-child) {
        border: none;
        padding-left: 0;
    }

    .summary-text {
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }

    .summary-text > *:not(:first-child) {
        border: none;
        padding-left: 0;
    }

}

.search-input-wrapper {
    display: flex;
}

#unobtainableItemsSummarySection {
    display: flex;
    flex-direction: row;
}

.list-item-tags .item-meta {
    display: inline-block;
    width: fit-content;
}